{% extends 'index.html' %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>>>>Languages</th>
            <th>Applications</th>
            <th>Databases</th>
            <th>Platforms</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Python</td>
            <td>Docker</td>
            <td>Oracle</td>
            <td>macOS</td>
        </tr>
        <tr>
            <td>SQL</td>
            <td>VS Code</td>
            <td>PostgreSQL</td>
            <td>Windows</td>
        </tr>
        <tr>
            <td>HTML</td>
            <td>GitHub</td>
        </tr>
        <tr>
            <td>CSS</td>
            <td>Power BI</td>
        </tr>
        <tr>
            <td></td>
            <td>Tableau</td>
        </tr>
    </tbody>
</table>
{% endblock %}